
      <div class="row">
        <section class="main col-md-9">
          <article>
            <h2>About</h2>
            <p>My name is Himani. I'm from Punjab, India. Currently, I'm in Toronto. I came here for my higher studies. Currently, I'm enrolled in Computer Programming 2 years diploma program. My college is Seneca and my campus is Seneca International Academy which is in Markham.    
            </p>
            <p>My hobbies are traveling, playing badminton, watching movies, and playing video games. I love exploring new places. I'm a foodie so I love to try different kinds of food from different places. Sometimes I feel lonely because I'm alone here. I miss my parents a lot especially when there is some occasion. I enjoy traveling, so being in a new place was quite beneficial to me.</p>
            
            </article>
          </section>
          <aside class="col-md-3">
            <h2>Coming Soon</h2>
            <p>I just want to make my parents feel proud. I want to fulfill their dreams. My dream is to become a successful software engineer.</p>
        </aside>
      </div>
    