<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
crossorigin="anonymous"> 

<link rel="stylesheet" href="https://bootswatch.com/3/slate/bootstrap.min.css" />


      
      <title>About</title>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand" href="#">WEB322 -  Himani</span>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="blog"><a href="/blog">Blog</a></li>
            <li class="active"><a href="/about">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/posts">Posts</a></li>
            <li><a href="/categories">Categories</a></li>            
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid ..--> 
    </nav>
    <div class="container" style="padding-top:60px">
      <div class="row">
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <p>Hi, My name is Himani , from Bathinda, Punjab(india). since childhood I was very fond of programming . I used to think that how all these games were made so i made it a dream to become a software engineer in my life and developing
             good games. After completing my studies in India, I persuade a course of computer programming in one of the highly reputed college which is Seneca college. I heard that this is best college for technology courses. I am very happy with my decision to take admission in this college. I hope to be very successful in my field and I am confident that with the help of Seneca college I'll achieve my goals. </p>
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming Soon</h2>
          <p>As I am pursing Computer Programming Program at Seneca College. In this program i am learning different languages. But I am more interested in doing web Programming. 
            I am surprised to see that through this we can make any web site. So I am thinking of becoming a web developer. Stay tuned to know more about me.
          </p>
        </aside>
      </div>
    </div>
  </body>
</html>