<div class="row">
  <section class="main col-md-9">
    <article>
      <h2>About</h2>
      <p>
        My name is Himani. I am student of Seneca International Academy.I
        am studying Computer Programming and its a 2 year post-secondary
        program. I'm from India but here in Canada I live in
        Scarborough, Toronto. My hobby is reading facts about new technologies and
        experiencing new gadgets. The course I pursued is related to various
        aspects of computers for example dealing with sequence diagrams, web
        development, object oriented programming and Linux. I have interest in
        computers since childhood that's why I chose that stream so that I can
        fulfill my dream to work on cubicles. That is all that I want to mention
        about me.
      </p>
    </article>
  </section>
  <aside class="col-md-3">
    <h2>Coming Soon</h2>
    <p>
      Stay tuned for next updates regarding my dream come true when I become a
      Successful Web developer.
    </p>
  </aside>
</div>